body {
  margin: 0;
  display: flex;
  height: 100vh;
}
#plot {
  width: 50%;
  height: 100%;
}
#info {
  width: 50%;
  height: 100%;
  padding: 20px;
  overflow: hidden;
  border-left: 1px solid #ccc;
  box-sizing: border-box;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 5px;
}
